

<!-- INDEX -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>GameSpeed</title>
	<link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>
<div id="container">
    <header>
    	<h1><a href="/">GameSpeed</span></a></h1>
        <h2>Gamers Website</h2>
    </header>
    <nav>
    	<nav>
    		<ul>
    	    	<li class="start selected"><a href="index.html">Home</a></li>
    	        <li class=""><a href="XBox.html">XBox</a></li>
    	        <li class=""><a href="PlayStation.html">Play Station</a></li>
    	        <li class=""><a href="Wii.html">Wii</a></li>
    	        <li class=""><a href="Games.html">Games</a></li>
    	    
    	        <li class=""><a href="Warranty.html">Warranty</a></li>
    	        <li class=""><a href="useraccount.html">UserAccount</a></li>
    	       			 <li class=""><a href="DataAnalytics.html">Trending&DataAnalytics</a></li>
			 <li class="end"><a href="ShoppingCart.html">Cart</a></li>
    	    </ul>
    	</nav>
    </nav>
      <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <script type="text/javascript" src="javascript.js"></script>
        
  </head>
  <body onload="init()">
   <form name="autofillform" action="autocomplete">
      <table border="0" cellpadding="5"> 
        <tbody>
          <tr>
            <td><strong>Search for you:</strong></td>
                        <td>
                            <input type="text"
                       size="40" 
                       id="complete-field"
                                   onkeyup="doCompletion()">
                        </td>
          </tr>
          <tr>
              <td id="auto-row" colspan="2">
                <table id="complete-table" class="popupBox" />
              </td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>

	<img class="header-image" src="images/img_index1.png" width = "100%" height = "100%" alt="Index Page Image" />
    <img class="header-image" src="images/img_Games.png" width = "100%" height = "100%" alt="Index Page Image" />

    <div id="body">		

	<section id="content">

	    <article>
			
			<h2>Welcome to GameSpeed</h2>
			
            <p>You can get all the cutting edge vide games here !</p>	
            
            <p>We provide fun for all age gamers.</p>
			
		</article>
	
		<article class="expanded">

            <h2>Secondary Section</h2>
						
            <p>This is the secondary where in you can put more information. This is not really mandatory</p>

			<h3>Learn More on HTML and CSS</h3>

			<p>Click on the links on your left under the section 'Helpful links' to learn more on HTML and CSS</p>
			<p>You can also click on the buttons below for references on HTML and CSS</p>
			
			<br><br>

			<a href="http://www.w3schools.com/html/default.asp" class="button">HTML</a>
			<a href="http://www.w3schools.com/css/default.asp" class="button">CSS</a>
			<br><br>
			<br>
			
		</article>
    </section>
        
    <aside class="sidebar">
	
            <ul>	
               <li>
                    <h4>Products</h4>
                    <ul>
                        <li><a href="XBox.html">XBox</a></li>
                        <li><a href="PlayStation.html">Play Station</a></li>
                        <li><a href="Wii.html">Wii</a></li>
                        <li><a href="Games.html">Games</a></li>
						 <li><a href="DataAnalytics.html">Trending&DataAnalytics</a></li>
                    
                    </ul>
                </li>
                
                <li>
                    <h4>About us</h4>
                    <ul>
                        <li class="text">
                        	<p style="margin: 0;">Welcome to GameSpeed. </p>
                        	<p style="margin: 0;">We provide fun for all age gamers.</p>
                        </li>
                    </ul>
                </li>
                
                <li>
                	<h4>Search site</h4>
                    <ul>
                    	<li class="text">
                            <form method="get" class="searchform" action="#" >
                                <p>
                                    <input type="text" size="25" value="" name="s" class="s" />
                                    
                                </p>
                            </form>	
						</li>
					</ul>
                </li>
                
                <li>
                    <h4>Helpful Links</h4>
                    <ul>
                        <li><a href="http://www.w3schools.com/html/default.asp" title="premium templates">Learn HTML here</a></li>
                        <li><a href="http://www.w3schools.com/css/default.asp" title="web hosting">Learn CSS here</a></li>
                        
                    </ul>
                </li>
                
            </ul>
		
    </aside>
    
	<div class="clear"></div>
	</div>
    
	<footer>
	
        <div class="footer-content">
            <ul>
            	<li><h4>Dummy Link Section 1</h4></li>
                <li><a href="#">Dummy Link 1</a></li>
                <li><a href="#">Dummy Link 2</a></li>
                <li><a href="#">Dummy Link  3</a></li>
			</ul>
           
        <div class="clear"></div>
        </div>
		
        <div class="footer-bottom">
            <p>CSP 595 - Enterprise Web Application - Tutorial 2</p>
        </div>
		
    </footer>
</div>

</body>

</html>