@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
	background: #E6E7E9;
	margin:0;
	padding:0;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 16px;
	color: #888;
}

* {
	margin:0;
	padding:0;
}



code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}


a:focus {
	outline: none;
}


a.button { 
    background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	background-color: #4076AB;
}


fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}






span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

h2 {
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

h3 {
	color: #DE2D3A;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}






#container {
	width: 1026px;
	margin: 0px auto;
	padding: 10px;
	box-shadow: 0 5px 5px 5px #CCCCCC;
	background-color: #fff;
}

header {
	padding: 0 15px;
	background: #fff;
	margin: 0 auto;
	
}

header h1 a, header h1 a:hover {
 color: #799AC0;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a span { 
	color: #DE2D3A;
}

header h2 {
	color: #E6E7E9;
	font-size: 13px;
	position: relative;
	top: -5px;
	letter-spacing: 0;
}




img.header-image { 
	padding-top: 10px;
	margin-bottom: -3px; 
	width: 100%;
	height: 400px;
}

#body {
	background: none;
	margin:0 auto;
 	padding: 0;
	clear: both;
}

#content {
    float: right;
    width: 80%;
}

#hotel-view-content {
    float: left;
    width: 100%;
}

#hotel-rating-view-content{
    float: left;
    width: 10%;
}

#hotel-check-availability{
    float: left;
    width: 60%;
}

.sidebar {
    float: left;
    width: 20%;
	margin-top: 10px;
}

.sidebar h4 {
	padding-bottom: 0;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	padding: 4px 4px;
	
  	background-color: #54ab51;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	background-color: #F5F5F5;
	margin-bottom: 10px;
	line-height: 1.9em;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 4px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13.5px;
}





.sidebar li ul li a {
	font-weight: normal;
	text-decoration: none;
	color: #777;
}

.sidebar li ul li a:hover {
	color: #ef3124;
}


.sidebar li ul li a.readmore {
   color: #799AC0;
   font-weight: bold;
}

.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	width: 100%;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 5px 5px 10px 50px;
	background: #F5F5F5;
	border-top: 1px solid #ccc;
}

footer .footer-content ul {
	width: 150px;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
}

footer .footer-content li {	
	display: list-item;
}

footer .footer-content li a {
 color: #777;
 font: 400 15px/20px "solido_book",helvetica,"arial";
 text-decoration: none;
}

footer .footer-content li a:hover { 
	color: #ef3124;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}

footer .footer-content span.sitename {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

footer .footer-bottom {
	border-top: #ccc 1px solid;
    padding: 12px 0 12px 5px;
    clear: both;
    background: #1a9ad4;
}

footer .footer-bottom p {
	text-align: center;
	font-size: 12px;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #eee;
}

.submit-button {
  color: #900;
  font-weight: bold;
  width: 10em;  
  height: 2em;
}



nav {
    float: none;
    width: 100%;
	height:46px;
    overflow: hidden;
    background: #54ab51;
}

nav ul li.mainmenu {
    float: left;
    display: block;
    height: 46px;
    overflow: visible;
    text-align: center;
    font: 13px/14px solido_book,helvetica,"arial narrow";
    
}


nav ul li.mainmenu a {   
    padding: 18px 14px 15px 14px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 13px;   
    text-decoration: none;
	font-family: "bryantbold", sans-serif;
    height: 20px;
    white-space: nowrap;
	text-transform: uppercase;
	
}

nav ul li a:hover {	
	background-color: #4a9348;
	text-decoration: none;
}

ul.navigation {
  float:right;
}

ul.navigation li 
{
     padding: 5px 16px;       
     background-color: #f5f5f5;
}

ul.navigation li a 
{
   display: block; 
   text-decoration: none; 
   color: #333334; 
   font-size: 15px;
   font-weight: bold;
   padding: 5px; 
 }
    
 ul.navigation > li {
    	display: inline-block; 
    	position: relative; 
    	border: 1px solid #e5e5e5;
 }
    ul.navigation > li ul {
    display: none; 
    position: absolute; 
    left: 0px;    
    width: 140px; 
    border: 1px solid #e5e5e5;   
    margin-top: 6px;
    
   
    }
    ul.navigation > li:hover ul 
    {
    display: block;
    z-index: 1;
    }
    ul.navigation > li ul li {
    display: block;
    }


.autoplay { position:relative; height:332px; }
.autoplay img { position:absolute; left:0; top:0; }

.displaylist { padding:0; margin:0; width:100%; float:left;}
.displaylist ul { padding:0; margin:0; list-style:none; border:0; float:left;}
.displaylist ul li { float:left; margin:0; padding-right:18px; border:0;width:250px;height:300px}
.displaylist ul li a { 
	float:left; 
	margin:0; 
	padding:15px 15px;  
	text-decoration:none; 
	font-family: "solido_book","helvetica condensed", "arial narrow";
    font-weight: bold;
    font-size: 16px;    
    
    color: #1a75a3;	
    height:180px
}


div.ftr-main {
	float: left;
    margin: 10px 30px 10px 20px;	
	text-align: center;
}

div.ftr-main a{
text-decoration: none;
color: inherit;
}

div.ftr-main h2{
	font-family: "solido_book","helvetica condensed", "arial narrow";
    color: #333334;
	font-weight: bold;
    font-size: 17px;
    margin: 0;
    padding: 0;
}
    



.displaylist ul li h5  {
	font-family: "solido_bold","helvetica condensed", "arial narrow";
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    width: 199px;
}

#sign-in-up{
	
    width: 100%;
    height: 400px;
}

#csign-in-up{
	
    width: 100%;
    height: 700px;
}

#sign-in h2 {
	    
    border-bottom: 1px solid #333;
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 24px;
    color: #424242;
}

#sign-in {
	float: left;
    width: 400px;
}

#sign-up {
	float: right;
    width: 500px;
}






#sign-in form label

{
	display: block;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2px;
}

.signin-input-fields {
	display: block;
    margin-bottom: 15px;
}

#sign-in form {
	background: linear-gradient(#eeeeee, #ffffff);
    padding: 36px 50px 30px 50px;
}

.sign-in-up-button{
	background: linear-gradient(#54ab51, #56ab51);
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font: bold 10pt/26pt sans-serif;
    height: 26pt;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: #FFF;
    border: 1px solid #eee;
    -webkit-box-shadow: #d8d8d8 0 2px 3px;
    -moz-box-shadow: #d8d8d8 0 2px 3px;
    box-shadow: #d8d8d8 0 2px 3px;
}

.wrapper{
	 width: 100%;    
	 border: none;   
}


 
 table h2{
    font-size: 20px;
    font-weight: bold;
    color: #707070;
    width: 174px;
    height: auto;
    line-height: 100%;
    padding: 0px;
    float: left;
    margin: 0px 0px 2px 0px;
 }
 
table h3{
    width: 162px;
    height: auto;
    float: left;
    padding: 0px;
    margin: 0px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 140%;
    color: #202020;
 }
 
 table h3 em{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #999999;
    float: left;
    width: 12px;
    height: auto;
    line-height: 100%;
    margin: 0px;
    padding: 0px;
 }
table h3 span{
    font-size: 36px;
    font-weight: bold;
    color: #202020;
    line-height: 80%;
    float: left;
}


.productDesc{
	
	text-align: center;
	color: #333334;
}


.login-error{
    background: #C33;
    color: #FFF;
    line-height: normal;    
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;    
    padding: 8px 10px;
    border-radius: 4px;
    width: 380px
}

.shopping-cart-empty{
	width:90%;
	display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;	
    height: 400px
}

.order-confirmation{
	width:90%;
	display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;	
    height: 380px
}

.order-confirmation h1{
	font-size: 26px;
    color: #777;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold; 
}
	
.order-confirmation h2{
	font-weight: bold;
	color: #22c152;
    font-size: 30px;
    margin: 25px 0px;
    width: 790px;
    text-align: center;
}

.order-confirmation p{
	font-size: 13px;
	text-align: center;
	margin-top: 50px;
	color:#333334;
}
.order-confirmation h3{
	font-weight: bold;
	color: #22c152;
    font-size: 22px;
    margin: 50px 0px;
    width: 790px;
    text-align: center;
    margin-top: 5px;
}
	
	

.shopping-cart{
	width:90%;
	display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;	
    height: auto;
}

.shopping-cart h1{
	font-size: 26px;
    color: #777;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold;    
}

.shopping-cart p{
	font-size: 13px;
	text-align: center;
}

.shopping-cart h2{
	font-weight: bold;
	color: #F00;
    font-size: 30px;
    margin: 50px 0px;
    width: 790px;
    text-align: center;
}


.shopping-cart-empty h1{
	font-size: 26px;
    color: #777;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold;    
}

.shopping-cart-empty p{
	font-size: 13px;
	text-align: center;
}

.shopping-cart-empty h2{
	font-weight: bold;
	color: #F00;
    font-size: 30px;
    margin: 50px 0px;
    width: 790px;
    text-align: center;
}

#shoppingcart-content {
    float: right;
    width: 100%;
}

.shoppingcartitem-table{
	padding: 3px;
    border-collapse: collapse;
    font-size: 14px;
	font-weight:bold;
    width: 95%;
    margin: 0px 20px;
}

.shoppingcartitem-table th{
    background: #DDD;    
    font-size: 11px;
    text-align: center;
    padding: 3px 5px;
    font-weight: bold;
}

.shoppingcartitem-table tr{
    border-bottom: 1px dotted #999999;
}

.shoppingcartitem-table tr td{
    background: #FFF;
    margin: 3px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.item-quantity{
    width: 20px;
    border: 1px solid #444;
    line-height: 140%;
    text-align: center;
    width: 30px;
}

.update-button {
    background:none!important;
    border:none; 
    padding:0!important;
    /*border is optional*/    
    color:#800080;
    text-decoration: underline;
    cursor: auto;
    font-size: 11px;
}

.shipping-h2{
	font-weight: bold;
	color: #777;
    font-size: 22px;
   
    width: 100%;
    text-align: center;
}

.shipping-input-fields {
	display: block;
    
}

.display-shoppingcart {
	table-layout: fixed;
	width: 100%;
}

.display-shoppingcart td{
	word-wrap:break-word;
}

.page-heading h1{
	font-size: 26px;
    color: #777;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold;
	}
	
.top-menu-form{	
	height: 100%;
    overflow: hidden;
}


.home-form {
	display: block;
	margin: 0;
    width: 100%;
    padding: 8px 8px 0 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: #f8a94f;
	height:46px;
}

.form-search-box{
	width: 600px;
	margin-right: 6px;
	height: 32px;
    padding: 0 10px;
	margin-top: 2px;
    line-height: 27px;
	border: 0;
    background: #ffffff;
    font-size: 14px;
    font-family: "bryantbold", sans-serif;
    color: #3b3b3b;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;   
}

.form-checkin-box{
	width: 120px;
	margin-top: 2px;
	margin-right: 6px;
	height: 32px;
    padding: 0 10px;
    line-height: 27px;
	border: 0;
    background: #ffffff;
    font-size: 14px;
    font-family: "bryantbold", sans-serif;
    color: #3b3b3b;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;   
}

.form-checkout-box{
	width: 120px;
	margin-top: 2px;
	margin-right: 6px;
	height: 32px;
    padding: 0 10px;
    line-height: 27px;
	border: 0;
    background: #ffffff;
    font-size: 14px;
    font-family: "bryantbold", sans-serif;
    color: #3b3b3b;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;   
}

.form-submit-button{
	background-color: #feea54;
    color: #b26637;
    width: 120px;
    padding: 0;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;	
	display: inline-block;
    height: 32px;
    padding: 0 11px;
    font: 13px/26px "bryantbold", sans-serif;    
    text-align: center;    
    border-radius: 4px;
	cursor: pointer;
    margin: 0;
    border: 0;
    position: relative;
    text-decoration: none;   
	
}
*:focus {
    outline: 0;
}

.form-submit-button:hover
{
background-color: #f7e780 !important;

}



.hotel-name-view{
	margin: 0;
    font-size: 32px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #0065b8;
	font-weight: 700;
	display: block;
	line-height: 1.45;
	padding-left: 10px;
}

.hotel-name-gallery{

	margin: 0;
    font-size: 18px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #0065b8;
	font-weight: 700;
	display: block;
	line-height: 1.45;
	padding-bottom: 0.5em;
}
.title-box{
	padding: 1.05882353em;
	position: relative;
    background: #fff;
    
}

.title-box-details{
margin: 0;
font-size: .76470588em;
color: #1f1f1f;
line-height: 1.4;
}


.review-rating-background {
    
    width: 66px;   
    height: 16px;    
    background: url(images/img_emptystar.png);    
    background-repeat: repeat-x;    
    background-position: 0 0;  
    text-align: left;
}
.review-rating {    
     height: 16px; 
    background: url(images/green_star.png);    
    background-position: 0 -16;    
    background-repeat: repeat-x;
}


.slideshow {
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px white;
}

.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 300px;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

.slide-img{
  width: 700px;
  height: 300px;
  
  display: inline-block;
  
  
}





.slide {
  animation: slide 18s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-25%);
  }
  
  37.5% {
    transform: translateX(-25%);
  }
  
  50% {
    transform: translateX(-50%);
  }
  
  62.5% {
    transform: translateX(-50%);
  }
  
  75% {
    transform: translateX(-75%);
  }
  
  87.5% {
    transform: translateX(-75%);
  }
  
  99% {
    transform: translateX(-75%);
  }
  
  100% {
    transform: translateX(0%);
  }
}

.topcorner{
	position:absolute;
   top:0;
   right:8px;
}

.topcorner ul{
	list-style-type: none;
    margin: 0;
    padding-top:8px;	
	overflow: hidden;
}


.topcorner ul li {
    float: left;
}

.topcorner ul li a {
	font-size:14px;
    display: block;    
   text-decoration:none;
   color:#0065b8;   
   border-right: 2px solid #EAEAEA;   
    padding-left: 10px;
    padding-right: 10px;
}

.topcorner> ul > li:last-child > a {
    border-right: 0;
}


.datagrid tr th {
	background: #11a8db;
	color: #fff;
}

.tablerow {
	background: #e4e3e3;
	color: #454545;
	font-weight: bold;
	text-align: center;
}


.datagrid {
	font-size: 13px;
	text-align: justify;
	margin: 10px auto;
	background: #ffffff;
	border: 1px solid #5C91D5;
	text-transform: uppercase;

}

.datagrid td {	
	padding: 10px 10px 10px 10px;	
}

.datagrid th {
	background-color: #11a8db;
	color: #fff;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.datagrid th a {
	color: #fff;
}

.datagrid .sort-col {
	padding-right: 40px
}

.datagrid .sortby {
	float: right;
	overflow: hidden
}

.datagrid .even td {
	background-color: #e6e6e6;
}



.form-table {
	font-size: 15px;	
	margin-left: 35px;
	margin-top: 25px;
	background: #ffffff;
	border: 1px solid #1a9ad4;
	text-transform: uppercase;
	border-collapse: collapse;
}

.form-table th {
	background-color: #1a9ad4;
	color: #fff;
	padding: 10px 10px 10px 10px;
}

.form-table th a {
	color: #fff;
}


.form-table td {
    padding:  .5em .5em .5em .5em;
   
}

.choose-room-table{
	
	
	margin-left: 3px;	
	background: #ffffff;
	border: 3px solid #1a9ad4;	
	border-collapse: collapse;
}


.choose-room-table th {
	background-color: #1a9ad4;
	color: #fff;
	padding: 10px 10px 10px 10px;
}

.choose-room-table th a {
	color: #fff;
}


.choose-room-table td {
    padding-top:  .5em;  
	padding-right:  .5em;
	padding-left:  .5em;
}


.reviewtable{
	width: 100%;
	text-align: left;
}

.reviewtable  th{
	padding: 10px 10px;
}

.reviewtable  td{
	padding: 10px 10px;
}

.reviewtable th {
	
	background: transparent linear-gradient(#EEE, #FFF) repeat scroll 0% 0%;
}

.dropdown {
    position: absolute;
    border: 1px solid #f5f5f5;
    display: none;
	z-index:999;
	background:#fff;
	top: 83px;
	width:611px;
	padding-left:8px;	
	padding-top:5px	
}

.dropdown a {
	font-weight: normal;
	text-decoration: none;
	color: #777;
	
}

.dropdown a:hover {
	color: #ef3124;
}